body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(182, 85, 231);
    text-align: center;
    margin: 0;
    padding: 20px;
}

input {
    width: 270px;
    padding: 12px;
    margin: 10;
    font-size: 1.2em;
    border: 4px solid rgb(103, 7, 125);
    border-radius: 8px;
    background-color: rgb(255, 240, 240);
    color: blueviolet;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    


}
button {
    background-color: rgb(245, 16, 142);
    color: #ffffff;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



