body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(205, 56, 228);
    text-align: center;
    margin:0;
    padding: 20%;
}

input.t {
width: 270px;
padding: 12px;
margin:10px;
font-size:1.2em;
border: 4px solid #30cb1b;
border-radius: 8px;
background-color: rgb(205, 56, 228);







}