p
{
    color: black; 
}
.c1{

    background-color:rgb(255, 184, 184);
    height: 500px;
    width: 95%;
    margin: 10px;

}
.c2{

    float: right;
    background-color:rgb(204, 147, 147);
    height: 400px;
    width: 800px;
    margin: 10px;

}
.c3{

    float: left;
    background-color: rgb(204, 147, 147);
    height: 100px;
    height: 400px;
    width: 800px;
    margin: 10px;

}

.p1
{
    background-color: rgb(255, 184, 184);
    height: 100px;
    width: 100%;
    margin: 10px;
}
.k1{

    background-color:rgb(175, 42, 42);
    height: 100%;
    width: 100%;
    margin: 0;
}