p
{
    color: black; 
}
.c1{

    float: left;
    background-color: rgb(170, 238, 232);
    height: 700px;
    width: 800px;
    margin: 10px;

}
.c2{

    float: left;
    background-color: rgb(240, 175, 175);
    height: 10%;
    width: 90%;
    margin: 35px;

}
.c3{

    float: left;
    background-color: rgb(240, 175, 175);
    height: 70%;
    width: 90%;
    margin: 35px;

}

.p1
{
    background-color: rgb(170, 238, 232);
    height: 50px;
    width: 100%;
    margin: 10px;
}

.r1
{
    background-color: rgb(170, 238, 232);
    height: 50px;
    width: 100%;
    margin: 10px;
}