body{
background-color: rgb(9, 124, 114);

}

button{
width: 250px;
height: 200px;
background-color: rgb(101, 235, 191);
color: white;
border: 2px solid white;
border-radius: 26px;
font-size: 2em;
margin: 30px;
transition: 0.2s;


}

button:hover {
    background-color: rgb(250, 227, 248);
    color: rgb(85, 185, 225);
    border: 2px solid black;
    transition: 150ms;
}


